body{
    margin:0;
}
/*HEADER SECTIE*/

/* Hierin staan er sales enz gwn reclame aanbiedingen v.d. website*/ 
.tekst-header{
    margin:0;
    background-color: #3643ba;
    color: white;
    text-align: center;
    width: 100%;
    height:clamp(2.8125rem, 3.6458rem + -1.0417vw, 3.4375rem)
}

/*header sectie met icoontjes en zoekbalk*/
.header-icons{
    margin: 10px 10px 10px 15px; /*space om de header icons heen*/
}
.burger-menu{
    width: auto;
    height: 20px;
}
.zoekbalk{
    border: none;
    background-color: #F5F4F5;
    border-radius: 25px;
    display: flex;
    margin: 10px auto;
    margin-bottom: 15px;
    height: 45px;
    width: clamp(18.75rem, 14.5833rem + 20.8333vw, 31.25rem)
}

/*navigatie naar andere secties van de website dus naar dames/ kinderen/sportkleding etc*/
ul {
    list-style: none;   /* verwijdert bolletjes */
    padding: 0;         
    margin: 0;
}
.nav{
    display:none;
}

a {
    text-decoration: none; /* geen streepje onder de link tekst */
    color:black;
}

/*geeft aan op welk gedeelte je bent van de website aan de hand van tekst*/
.tags a{
    display:none;
}

/*de laatste navigatie link van waar je bent je ziet alleen deze op kleiner scherm*/
.tags .current a {
    display: inline;
    color:#616161;
    margin:15px;
}

/*Img sectie*/

.lil-nav{
    display: none; /*de gelinkte fotos worden niet getoond*/
}

/* Container van alle slides */
.container-shirts {
  display: flex;
  flex-direction: column;       /* verticale stapeling */
  justify-content: flex-start;
  width: clamp(18.125rem, 80% + 2rem, 61.875rem); /* responsive clamp voor de breedte */
  height: 295px;                /*hoogte van het scroll-gebied */
  margin: 15px auto 0 auto;
  overflow-y: auto;             /* verticale scroll mogelijk */
  scroll-snap-type: y mandatory; /* scroll-snap */
  scroll-behavior: smooth;       /* soepele scroll */
  -webkit-overflow-scrolling: touch; /* voor mobiel smooth scroll */
  position:relative; /*dit is voor de sticky nummer teller*/
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.slide{
    scroll-snap-align: start; /* elke slide komt vast aan de bovenkant (zo gaat het scrollen netjes)*/
    display: block;
    height: 295px;
    position: relative;
    container-type: scroll-state;
}

/* Scroll functie lijnen*/
.ul-slide {
  position: relative;
  height: 80vh;                 /* hoogte van scroll-gebied */
  display: flex;
  flex-direction: column;
  overflow-y: auto;             /* scrollbaar verticaal */
  scroll-snap-type: y mandatory; /*hierdoor stoppen de slides netjes een voor een bij het scrollen het geeft een soort van snap*/
  scroll-behavior: smooth;
  overscroll-behavior: contain; /*zorgt ervoor dat niet de hele pagina mee scrollt maar alleen de container*/
  scrollbar-width: none;
  counter-reset: slide;         /* voor telling van slides */
  
  
  anchor-name: --carousel; /* anchor voor scroll markers */
  scroll-marker-group: after;   /*dit maakt de lijntjes*/

}

/* elke aparte slides */
.ul-slide .slide {
  flex-shrink: 0;
  position: relative;
  scroll-snap-align: center;
  scroll-snap-stop: always; /*hierdoor zijn er geen halve slides zichtbaar*/
  display: grid;
  place-items: center;
  height: 80vh;                 /* vul de viewport */
  counter-increment: slide;     /* teller gaat omhoog bij elke slide */
}

/*scroll maker lijntjes*/
.ul-slide::scroll-marker-group {
  position: absolute;
  position-anchor: --carousel;
  position-area: center;        /* zet ze naast carousel */
  right: -90%;                  /* afstand van de slides */
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.ul-slide .slide::scroll-marker {
  content: '';
  width: 3px;
  height: 10px;
  background-color: black;
  transition: 0.25s;
}

/* zo worden de actieve slide marker groter*/
.ul-slide .slide::scroll-marker:target-current {
  height: 40px;
}

/* Elke individuele slide */
.shirts{
  display:block;
  object-fit:cover; /*vult de breedte in zonder dat het vervormt*/
  height:100%;
  flex-shrink: 0;           /* voorkomt dat slides krimpen */
  width: 100%;              /* vult container breedte */
  max-width: 300px;         /* max breedte van slide */
}

/* Afbeeldingen in slide */
.shirt img {
  display: block;
  width: 100%;
  height: auto;
}

.shirt:hover img {
  transform: scale(1.05); /*maakt de img groter als je erop hovert*/
}

/* slide nummer sticky linksonder */
.slide-counter {
  position: sticky;
  bottom: 35px;
  left: 5px;
  background-color:  #3643ba;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  font-weight: bold;
  z-index: 10; /*hierdoor is het op de afbeelding dus ervoor*/
  display:inline-block;
  width: fit-content;
}


.id-text{
    color: #616161;
}

.review{
    width: 240px;
    height: auto;
}

.kleine-fotos{
    height:80px;
    width: auto;
}
h2{
    width:50%;
}
.info-tekst{
    width: 50%;
}
.prijs{
    background-color: #FFCD4E;
    padding: 5px 10px;
    margin: 40px 0 0 15px;
}
.winkelmand{
    background-color: #3643BA;
    color: white;
    font-size: 15px;
    border: none;
    padding: 25px 90px;
    margin: 40px auto;
    display:block;
}
.info{
    margin-top: 45px;
}

/* Mediaqueries*/

@media (min-width: 1024px) {
    .zoekbalk{
        margin-bottom: 25px;
    }
    .nav{
        margin-bottom: 10px;
    }
    .tags a {
        text-decoration: none;
        display:contents;
    }
    
.nav{
    display: flex;
    justify-content: space-between; /*zorgt ervoor dat de nav-left helemaal aan het begin komt en nav-right aan het eind er is dus evenveel space in between them*/
    align-items: flex-start;
}

.nav-left{
    text-align: left;
    display:flex; /*zodat elk list item naast elkaar komt te staan inplaats van onder elkaar*/
    gap:20px;
    margin-left: 45px;
}

.nav-right{
    text-align:right;
    display:flex; /* alle list items komen onder elkaar te staan*/
    gap:20px;
    margin-right: 45px;
}
.nav-left li:hover{
   text-decoration: underline; 
}
.nav-right li:hover{
    text-decoration: underline;
}

    
    .tags{
         margin: 0 45px 0 45px;
        list-style: none;
        flex-direction: column;
    }
    .current{
          margin: 0 ;
        list-style: none;
        flex-direction: column;
    }
    .tag-list{
        display: flex;
                gap:25px;
    }
  .product-layout{
    display: flex;
    gap: 550px;
  }
    .slide{
        position: static;
    }

  /* wrapper van de afbeeldingen */
  .wrapper {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 45px;
    height: 100vh;
    margin: 45px;
    align-items: start;
  }

  .container-shirts {
    position: relative;
    height: 80vh;
    overflow: hidden; /*als iets groter is dan 80vh word het verborgen*/
  }

  .shirts {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    pointer-events: none;
  }

  /* eerste afbeelding zichtbaar */
   #shirt-1 {
    opacity: 1;
    pointer-events: auto;
  }

  /* aangeklikte thumbnail */
  .shirts:target {
    pointer-events: auto;
    opacity: 1;
  }
  
.lil-nav {
  height: 80vh;
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  scrollbar-width: none;
}
.lil-nav::-webkit-scrollbar {
  display: none;
}

.lil-nav a {
  height: 90px;
}

.lil-nav img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease;
}

.lil-nav img:hover {
  transform: scale(1.05);
}

 
}

