body{
    margin:0;
}

/* Hierin staan er sales enz gwn reclame aanbiedingen v.d. website*/ 
.tekst-header{
    background-color: #3643ba;
    color: white;
    margin: 0;
    text-align: center;
    width: 100%;
    height:clamp(2.8125rem, 3.6458rem + -1.0417vw, 3.4375rem)
}

.header-icons{
    margin: 10px 10px 10px 15px;
}
.burger-menu{
width: auto;
height: 20px;
}
.zoekbalk{
  border: none;
  background-color: #F5F4F5;
  border-radius: 25px;

  display: flex;
  margin: 10px auto;
  margin-bottom: 15px;
  height: 45px;
width: clamp(18.75rem, 14.5833rem + 20.8333vw, 31.25rem)
}

/*navigatie naar andere secties van de website dus naar dames/ kinderen/sportkleding etc*/
.nav{
    display: none;
}

 /*navigatie links (van waar je dus bent op de page) */
 a{
text-decoration: none;
color:#616161;
display: none;
}

/*de laatste navigatie link van waar je bent je ziet alleen deze op kleiner scherm*/
.current {
    color:#616161;
    margin:15px;
}

/* tshirt img section*/
.container-shirts{
  display: flex;
  flex-direction: column;
  gap:10px;
height:auto;
width: clamp(18.125rem, -13.125rem + 156.25vw, 61.875rem);
margin: 15px 15px 0 15px;

/* Desktop versie/layout */
/* @media (min-width:1024px){
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0;
    grid-row-gap:0;
} */
}

.shirt1{

/* grid-area: 1 / 1 / 2 / 2; */
/* width: 150px; */
}
.shirt2{
/* grid-area: 3 / 1 / 4 / 2; */
/* width: 150px; */
}
.shirt3{
/* grid-area: 5 / 1 / 6 / 2; */
/* width: 150px; */
}
.shirt4{
/* grid-area: 1 / 3 / 6 / 6; */

}
.number-text{
    color: white;
    background-color: #3643ba;
height:15px ;
width: 25px;
}
.id-text{
    color: #616161;
}

.review{
    width: 240px;
    height: auto;
}

.kleine-fotos{
    height:80px;
    width: auto;
}

.prijs{
    background-color: #FFCD4E;
    padding: 5px 10px;
    margin: 40px 0 0 15px;
}
.winkelmand{
    background-color: #3643BA;
    color: white;
    font-size: 15px;
    border: none;
    padding: 25px 90px;
    margin: 40px auto;
    display:block;
}
